@import '../../node_modules/normalize.css/normalize.css';

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#app {
  min-height: 100vh;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

main {
  flex: 1;

  display: flex;
  flex-flow: column;
  align-items: center;

  width: 100%;
  max-width: 100ch;
  margin: 0 auto;

  padding: 0.5em;

  p {
    width: 100%;
  }

  h1 {
    text-align: center;
  }
}
